
@font-face {font-family: "iconfont";
  src: url('../fonts/ar.eot?t=1503023921224'); /* IE9*/
  src: url('../fonts/ar.eot?t=1503023921224#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ar.woff?t=1503023921224') format('woff'), /* chrome, firefox */
  url('../fonts/ar.ttf?t=1503023921224') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/ar.svg?t=1503023921224#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-you_sanjiao:before { content: "\e618"; }

